<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quam sunt dolorem soluta! Temporibus adipisci similique dolorum ipsam, quis facere vitae eos dolorem id in, nemo porro. Corrupti, aut mollitia incidunt architecto dicta ea, nostrum est praesentium accusamus dolore fuga facilis harum consectetur eius iste reprehenderit quo soluta dignissimos saepe blanditiis explicabo molestiae culpa cumque alias! Cumque libero quae saepe earum est amet quisquam sit sunt labore esse! Minus exercitationem dolore illo sit impedit quod rem? Quasi velit sint qui quas, placeat porro, dolor beatae ipsum labore asperiores necessitatibus tempora eligendi, magni eum dignissimos! Tempora, similique minima tempore corporis eligendi, tenetur voluptate sint recusandae in illum asperiores libero adipisci deleniti sed ipsum sit hic enim voluptatum. Fugiat doloremque laboriosam nesciunt aspernatur praesentium veniam quisquam necessitatibus, inventore error. Eius consequuntur deserunt nihil ratione laborum aspernatur alias fugit perferendis ut blanditiis asperiores magnam rerum, minima saepe unde. Praesentium nostrum in voluptas, excepturi repellat optio rerum repellendus, esse maxime alias doloribus temporibus, a nesciunt accusamus impedit dolorum voluptatum! Repellat consequuntur ab eaque doloribus provident quas, quasi distinctio cupiditate exercitationem labore tenetur, qui dignissimos ullam beatae facere. Molestiae et deleniti vel illum, libero nostrum aperiam dolores incidunt nemo molestias ipsa atque enim quasi voluptatem totam maxime! At animi officiis tempore, eaque quisquam dignissimos? Totam, voluptates, cum voluptas ullam doloremque necessitatibus molestiae fuga animi sint possimus maiores rem quo labore ipsa omnis! Quidem ad at rem quo tenetur cum. Culpa sit voluptatibus deserunt. Facere sunt doloribus numquam beatae deserunt suscipit velit eum. Laborum, temporibus minus! Eos architecto corporis voluptatum ad, id quos vel, rerum, eveniet impedit inventore eum quidem accusamus dolor nam at molestias! Cupiditate quae obcaecati eos eum vero eveniet magnam officia voluptate, quam aspernatur fugit quasi ducimus, aliquid ipsam perspiciatis quis ut adipisci molestiae sequi maiores laudantium ullam fugiat. Doloribus dolorem numquam incidunt.</p>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
